rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isTrentonBusinessEmail() {
      return isAuthenticated() &&
        request.auth.token.email != null &&
        request.auth.token.email.matches("^[Tt][Rr][Ee][Nn][Tt][Oo][Nn]@([Ss][Ww][Ee][Ee][Tt][Hh][Oo][Mm][Ee][Tt][Rr][Aa][Nn][Ss][Ii][Tt][Ii][Oo][Nn][Ss])\\.([Cc][Oo][Mm])$");
    }

    function isTeam() {
      return isTrentonBusinessEmail();
    }

    function isProjectClient(projectId) {
      return isAuthenticated() &&
        firestore.get(
          /databases/(default)/documents/projectMembers/$(request.auth.uid)
        ).data.projectId == projectId;
    }

    match /floorplans/{projectId}/{allPaths=**} {
      allow read: if isTeam() || isProjectClient(projectId);
      allow write: if isTeam();
    }
  }
}
